@using NutriApp.Models.SpoonModels
@using NutriApp.Controllers
@using NutriApp.Helpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<ProductSelectionItem>
@{
}

<div class="text-center">
    <h1>ProductInfo Index Page</h1>
</div>
<div class="container">
  <div class="row justify-content-center p-3">
    <div class="col-auto">
      <form asp-controller="ProductInfo" asp-action="Index">
          <label for="Name">Wyszukaj produkt</label>
          <input name="Name" placeholder="Wyszukaj" />
          <input type="submit" />
      </form>
    </div>
    <div class="col-auto">
      <ul>
        @foreach (var item in (List<ProductSelectionItem>) ViewData["ProductSelectionList"])
        {
            <li data-productId=@item.Id class="selectionItems">
                @item.Name
            </li>
        }
      </ul>
    </div>
  </div>
  <div class="col-md-auto" id="productContainer">
      <table id="productInfoTable" border="0">
          <thead>
              <tr>
                <th class="empty_th_space"></th>
                <th class="weight_th_info"></th>
                <th class="percentDaily_th">Percent of daily recommended intake </th>
              </tr>
          </thead>
          <tbody id="table_body">
          </tbody>
      </table>

  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script type="text/javascript">

function getUnit(id) {
    for (var i in assetStatusEnum) {
        if (id == assetStatusEnum[i]) {     
            return i;
        }
    }
}

var assetStatusEnum = @(Html.EnumToString<Units>());
    console.log(assetStatusEnum);

$(".selectionItems").click(function() {
    CallController((this));
});

function CallController(el) {
    $.ajax({
        type: "GET",
        url: "/ProductInfo/GetProductInformation",
        data: { "productId": el.dataset.productid },
        dataType: "json",
        success: function(data) {
            console.log(data);
            var Nutritions = data.nutrition;
            console.log(Nutritions);
        },
        error: function(xhr, ajaxOptions, thrownError) {
            console.log("erro");
        },
        complete: function(data) {
            var response = data.responseJSON;
            $("#productContainer").prepend("<h1>" + response.name + "<h1>");
            $(".weight_th_info").append(response.amount + getUnit(response.unit));
            for (var el in response.nutrition) {
                var nutri = response.nutrition[el];
                $("#table_body").append("<tr>");
                $("#table_body").append("<td class=nutri-label>" + nutri.name + "</td>");
                $("#table_body").append("<td>" + nutri.amount + getUnit(nutri.unit) + "</td>");
                $("#table_body").append("<td>" + nutri.percentOfDailyNeeds + "</td>");
                $("#table_body").append("</tr>");
            }
        }
    });
};

</script>