/* _content/NutriApp/Views/Shared/_Layout.cshtml.rz.scp.css */
body[b-gnj0an2nbl]{
    margin: 0;
    background-color: #002043;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.container[b-gnj0an2nbl]{
    width: 80%;
    margin: 0 auto;
}

header[b-gnj0an2nbl] {
    background-color: #002043;
}
